.wrraper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.4em;
  letter-spacing: 0.13rem;
  color: #ffa2a7;
}

.refresh {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  padding: 0.3rem;
  color: #333;
}

.spin {
  animation: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
