.cardWrapper {
  cursor: pointer;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 15rem;
  width: 10rem;
  min-width: 10%;
  margin: 0 1rem;
  border: 0.1rem solid #333;
  border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
  overflow: hidden;
  box-shadow: -1px 4px 10px -4px rgba(85, 85, 85, 0.34);
  background-color: var(--primary);
  transition: all 0.2s ease;
}

.cardWrapper:hover {
  transform: scale(1.1);
}
.cardWrapper:hover .cardTitle {
  opacity: 1;
}
.cardPoster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardRating {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 75%;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgba(255, 253, 253, 0.2);
  backdrop-filter: blur(3px);
  font-weight: bold;
  color: #000;
  text-shadow: 0 0.1rem 0.1rem var(--primary);
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.cardTitle {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  text-align: center;
  padding: 0 0.3rem;
  background-color: rgba(255, 253, 253, 0.7);
  backdrop-filter: blur(2px);
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  transition: all 0.2s ease;
}
